# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Geojson
*.geojson

build/
!data/.gitkeep
data/graphs/*
data/bench_files/*
data/results/*
data/preprocessing/*
data/partitions/*
!data/graphs/.gitkeep
!data/bench_files/.gitkeep
!data/results/.gitkeep
!data/preprocessing/.gitkeep
!data/partitions/.gitkeep

tests/data/*
!tests/data/.gitkeep

.cache/
